.clearfix:after {
  display: block;
  clear: both;
}

/* begin footer styles */

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background-color: #4c4c4c;
  background-size: cover;
  padding: 0 0 30px 0;
  border-top: .5rem solid #4b2e83;
  text-align: center;
  display: block;
  align-content:  center;
}

.footer p { padding: 1rem 0rem 2rem; }

footer a { color: white; }

ul.social li a:hover {
  color: #4b2e83; 
  width: auto;
  background-color: none;
}

/* Start Footer Contact Info Styles */

ul.social {
  list-style-type: none;
  margin: 0;
  padding:  0 .3em;
  overflow: hidden;
  display: inline-block;
}

ul.social li {float: left; }

ul.social li a {
  display: inline-block;
  padding: .5em .3em;
  text-decoration: none;
  text-align: center;
  color: #4c4c4c;
}

/* Start Header Styles */
 .navbar-brand { 
  font-family: 'Lobster', cursive;
  font-size: 2em;
  background: -webkit-linear-gradient(#85754d, #4b2e83);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
  width: auto;
}

/* Start Top Navigation Styles */
 .navbar-default .navbar-nav > .active{
   color: #fff;
   background: #4b2e83;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background: #4b2e83;
      
 }

ul.navbar-nav a:hover { 
  color: #fff !important; 
  background-color: #4c4c4c !important; 
}

main { 
  display: flex; 
  width: 100%; 
  margin: 1rem; 
}

header {
  margin-bottom: 1rem;
}

/* Begin Project Carousel Styles */
.projects { 
  max-width: 400px; 
  margin: 0 auto; 
}

.carousel-control.left, .carousel-control.right{ 
    background: none !important;
    filter: progid:none !important;
}
.carousel-indicators li, .carousel-indicators .active{ border: .1em solid black; }

/* Custom Button Styles */

.btn-contact { margin: .25em .25em; }

.btn-primary {
    background: #4b2e83;
    border: #4b2e83;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #85754d;
    border: #85754d;
}
 
.btn-primary:active, .btn-primary.active {
    background: #4b2e83;
    border: #4b2e83;
    box-shadow: none;
}

/* Begin Hamburger Menu Styles */
.navbar-toggle.collapsed .icon-bar { background-color: white; }
.navbar-toggle.collapsed { 
  background-color: #4b2e83; 
  border-color: #4b2e83; 
}

.navbar-toggle { 
  background-color: #4b2e83!important;
  border-color: #4b2e83; 
}

h3   {
  font-family: 'Lobster', cursive;
  color: #4b2e83;
}

img { padding-right: 1em; }

p { font-family: 'Droid Sans', sans-serif; }